<div class="card-wrapper">
    <div class="w-52 2xl:w-72">
        <h3 class="card-title" 
            [ngClass]="{
                'teal': title() === 'Leña',
                'indigo': title() === 'Metro Ruma',
                'sky': title() === 'Trozo Aserrable',
            }"
        >
            {{title()}}
        </h3>
        <span class="card-subtitle">{{subtitle()}}</span>
    </div>
    <div class="card-percent-wrapper">
        <span class="card-percent"
              [ngClass]="{
                'teal': title() === 'Leña',
                'indigo': title() === 'Metro Ruma',
                'sky': title() === 'Trozo Aserrable',
                }"
        >
            {{percent()}}%
        </span>
    </div>
</div>