<nav class="pagination-wrapper" aria-label="Pagination">
    <span class="pagination-info">
        Mostrando 
        <span class="pagination-info-span">1-10</span> 
        de 
        <span class="pagination-info-span">1000</span>
    </span>
    <ul class="pagination-list">
        <li class="pagination-item rounded-s-lg">
            Previous
        </li>
        @for (page of totalPages(); track $index) {
            <li class="pagination-item" 
                (click)="onPageChanged(page)"
                [ngClass]="{'active': currentPage() === page}">
                {{page}}
            </li>
        }
        <!-- <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
        </li>
        <li>
            <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">2</a>
        </li> -->
        <li class="pagination-item rounded-e-lg">
           Next
        </li>
    </ul>
</nav>