<div class="wrapper">
    <form 
        class="form-wrapper" 
        (ngSubmit)="login()" 
        [formGroup]="form">
        
        <img src="assets/logos/bosques-nalcahue-logo.png" alt="Company Logo">
        <h1>Iniciar Sesion</h1>
        
        <div class="input-wrapper">
            <input 
                type="text" 
                required 
                formControlName="email">
            <label>Email de usuario</label>
            <div [innerHTML]="this.iconService.getIcon('user')"></div>
           
        </div>

        <div class="input-wrapper">
            <input 
                type="password" 
                required 
                formControlName="password">
            <label>Contrasena</label>
            <div [innerHTML]="this.iconService.getIcon('lock')"></div>  
        </div>
        
        @if (loginSucces() === false) {
            <button class="btn-submit" type="submit">
                Ingresar
                <div [innerHTML]="this.iconService.getIcon('login')"></div>             
            </button>
        }
        @else {
            <div>
                <shared-spinner />
            </div>
        }
    </form>
    <dashboard-toast 
        [toastVisible]="toasts.toastVisible()"
        [toastType]="toasts.toastType()"
        [toastMessage]="toasts.toastMessage()"  
        (closeToast)="toasts.hideToast(false)"/>
</div>