<div class="wrapper">
    <form class="form-wrapper">
        <!-- <h1 class="mb-4 text-3xl">Bosques Nalcahue</h1> -->
        <img src="assets/logos/bosques-nalcahue-logo.png" alt="Company Logo">
        <h1>Iniciar Sesion</h1>
        
        <div class="input-wrapper">
            <input type="text" required >
            <label>Usuario</label>
            <div [innerHTML]="this.iconService.getIcon('user')"></div>
           
        </div>

        <div class="input-wrapper">
            <input type="password" required >
            <label>Contrasena</label>
            <div [innerHTML]="this.iconService.getIcon('lock')"></div>  
        </div>
        
        <button class="btn-submit">
            Ingresar
            <div [innerHTML]="this.iconService.getIcon('login')"></div>             
        </button>
    </form>
</div>