<div class="wrapper">
    <form class="form-wrapper gap-3 items-center">
        <!-- <h1 class="mb-4 text-3xl">Bosques Nalcahue</h1> -->
        <img src="assets/logos/bosques-nalcahue-logo.png" alt="Company Logo">
        <h1>Iniciar Sesion</h1>
        
        <div class="input-wrapper">
            <input type="text" required >
            <label>Usuario</label>
        </div>

        <div class="input-wrapper">
            <input type="password" required >
            <label>Contrasena</label>
        </div>
        
        <button class="btn-submit">Ingresar</button>
    </form>
</div>