<div class="wrapper">
    <div class="p-4 mr-4 ml-2 w-[65%]">
        <h1 class="page-title">Editar Reporte: 
            <span class="font-normal">Despacho de {{reportToSubmit?.productType}}</span>
        </h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <dashboard-toast [isVisible]="toastVisible()"
                             [toastType]="toastType()" 
                             (toastTimedOut)="ShowAndHideToast($event)" />
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-3 2xl:gap-8">

                <!-- Datos del Documento -->
                <h3 class="page-subtitle">Datos del Documento</h3>
                <hr class="sm:col-span-2 w-full">
                <div class="w-full">
                    <label class="form-label">Folio</label>
                    <input type="text" 
                           class="text-input" 
                           placeholder="Folio del Reporte"
                           formControlName="folio"
                           readonly>
                </div>
                <div class="w-full">
                    <label class="form-label">Fecha del Reporte</label>
                    <input type="text" 
                           class="text-input" 
                           placeholder="Fecha del Reporte"
                           formControlName="date"
                           readonly>
                </div>

                <!-- Client's Data -->
                <h3 class="page-subtitle">Datos del Cliente</h3>
                <hr class="sm:col-span-2 w-full">
                <div class="w-full">
                    <label class="form-label">Nombre</label>
                    <input type="text" 
                           class="text-input" 
                           placeholder="Nombre Cliente"
                           formControlName="clientName">
                </div>
                <div class="w-full">
                    <label class="form-label">Rut</label>
                    <input type="text" 
                           class="text-input" 
                           placeholder="Rut Cliente"
                           formControlName="clientId">
                </div>

                <!-- Truck's Data -->
                <h3 class="page-subtitle">Datos del Camion</h3>
                <hr class="sm:col-span-2 w-full ">
                <div class="w-full">
                    <label class="form-label">Empresa de Transporte</label>
                    <input type="text" 
                           class="text-input" 
                           placeholder="Nombre Empresa"
                           formControlName="truckCompany">
                </div>
                <div class="w-full">
                    <label class="form-label">Chofer</label>
                    <input type="text" 
                           class="text-input" 
                           placeholder="Nombre Chofer"
                           formControlName="truckDriver">
                </div>
                <div class="w-full">
                    <label class="form-label">RUT</label>
                    <input type="text" 
                           class="text-input" 
                           placeholder="RUT Chofer"
                           formControlName="truckDriverId">
                </div>
                <div class="w-full">
                    <label class="form-label">Patentes</label>
                    <input type="text" 
                           class="text-input" 
                           placeholder="Patentes"
                           formControlName="truckPlate">
                </div>

                <!-- Products Information -->
                <!-- <h3 class="page-subtitle">Detalles del Despacho</h3>
                <hr class="sm:col-span-2 w-full">

                @if (reportToSubmit?.productType !== 'Trozo Aserrable') {
                    <div class="w-full">
                        <label class="form-label">Producto</label>
                        <input type="text" 
                               class="text-input" 
                               placeholder="Tipo de Leña / Metro Ruma"
                               formControlName="productName">
                    </div>
                    <div class="w-full">
                        <label class="form-label">Unidad de Origen</label>
                        <input type="text" 
                               class="text-input" 
                               placeholder="Origen"
                               formControlName="origin">
                    </div>
                } @else {
                    @for(product of reportToSubmit?.products; track $index) {
                        <div class="w-full">
                            <label class="form-label">Producto {{$index + 1}}</label>
                            <input type="text" 
                                   class="text-input" 
                                   placeholder="Tipo de Trozo Aserrable">
                        </div>
                    }
                    <div class="w-full">
                        <label class="form-label">Unidad de Origen</label>
                        <input type="text" 
                               class="text-input" 
                               placeholder="Origen"
                               formControlName="origin">
                    </div>
                } -->
            </div>
            <button type="submit" class="form-btn">
                Guardar
            </button>
        </form>
    </div>

    <div class="w-[35%]">
        <img src="assets/img/edit-report-img.jpg" alt="Foto de Jessica Furtney en Unsplash" class="object-cover w-full h-full rounded-md">
    </div>
</div>