<div class="w-[55%] flex flex-col">
    <section class="w-full">
        <p>Photo and name</p>
    </section>
    <section class="w-full">
        <p>Informacion Personal</p>
    </section>
    <section class="w-full">
        <p>Cambiar Contraseña</p>
    </section>
</div>

<div class="w-[35%] relative">
    <img src="assets/img/edit-report-img.jpg" alt="Foto de Jessica Furtney en Unsplash" class="light-dark-bg-img opacity-100 dark:opacity-0">
        <img src="assets/img/edit-report-img-dark.jpg" alt="Foto de Vincent Guth en Unsplash" class="light-dark-bg-img opacity-0 dark:opacity-100">
</div>
